/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    min-height: 100vh;
    font: normal 16px sans-serif;
}

.itemlist-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: Gray;
}

.itemlist-container p.page-description {
    text-align: center;
    margin: 24px auto;
    font-size: 16px;
    color: Gray;
}

.item-gallery {
    padding: 36px;
}

.item-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
    text-align:center;
    padding:20px;
}
.item-header{
  text-align:center;     
}

.item-gallery .thumbnail:hover {
    transform: translateY(-10px) scale(1.02);
}

.item-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
}

.item-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.item-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}

.item-gallery .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
}

.baguetteBox-button {
    background-color: transparent !important;
}

form{
    margin:1%;  
}

.user-table{
    vertical-align: middle;
    
}